<section class="container-lg my-4">
  <div class="text-center">
    <h1 class="mt-4 mt-lg-5 fw-bold text-muted">
      {{ selectedCulture === Culture.BG ? 'Добре дошли в BarterHouse' : 'Welcome to BarterHouse' }}
    </h1>
    <p class="text-center lead text-secondary">
      {{
        selectedCulture === Culture.BG
          ? 'Вашият надежден партньор за инвестиции в злато и в други благородни метали!'
          : 'Your reliable partner for investments in gold and other precious metals!'
      }}
    </p>
    <a class="btn btn-warning mt-4 btn-lg text-secondary-emphasis"
       [routerLink]="[appRoutes.root, appRoutes.productList]">
      {{ selectedCulture === Culture.BG ? 'Разгледай продуктите' : 'View all products' }}
    </a>
  </div>
</section>

<section class="pt-5 my-5 bg-body-tertiary border">
  <div class="container-lg">
    <div class="row text-center">
      <div class="col-md-4 mb-4">
        <i class="fa-solid fa-scale-balanced fa-2x text-warning mb-3"></i>
        <h5 class="fw-bold text-muted">
          {{ selectedCulture === Culture.BG ? 'Търговия с метали' : 'Metals Trading' }}
        </h5>
        <p class="text-muted">
          {{
            selectedCulture === Culture.BG
              ? 'Актуални борсови котировки за злато, сребро, платина, паладий и други редки метали.'
              : 'Current stock quotes for gold, silver, platinum, palladium and other rare metals.'
          }}
        </p>
      </div>
      <div class="col-md-4 mb-4">
        <i class="fa-solid fa-certificate fa-2x text-warning mb-3"></i>
        <h5 class="fw-bold text-muted">
          {{ selectedCulture === Culture.BG ? 'Партньор на NGC и PMG' : 'NGC & PMG Partner' }}
        </h5>
        <p class="text-muted">
          {{
            selectedCulture === Culture.BG
              ? 'Оценка и сертифициране на монети и банкноти чрез водещите световни организации – NGC и PMG.'
              : 'Evaluation and certification of coins and banknotes through the worlds leading organizations - NGC and PMG.'
          }}
        </p>
      </div>
      <div class="col-md-4 mb-4">
        <i class="fa-solid fa-flask fa-2x text-warning mb-3"></i>
        <h5 class="fw-bold text-muted">
          {{ selectedCulture === Culture.BG ? 'Тестване на благородни метали' : 'Precious Metal Testing' }}
        </h5>
        <p class="text-muted">
          {{
            selectedCulture === Culture.BG
              ? 'Компактното и професионално тестване на благородни метали с уред Olympus GoldXpert.'
              : 'Compact and professional precious metal testing with the Olympus GoldXpert device.'
          }}
        </p>
      </div>
    </div>
  </div>
</section>
<section class="pb-5">
  <div class="container-lg text-center">
    <h3 class="text-muted fw-bold mb-5 text-center">
      {{ selectedCulture === Culture.BG ? 'Последни новини' : 'Latest news' }}
    </h3>
    <div class="row justify-content-center">
      @for (index of [1, 2, 3, 4, 5]; track index) {
        <div class="col-md-4 mb-4">
          <div class="border rounded-4 h-100 overflow-hidden">
            <h6 class="py-3 fw-bold text-muted border-bottom bg-body-tertiary">
              {{ selectedCulture === Culture.BG ? 'Следващо изпращане към NGC/PMG' : 'Next shipment to NGC/PMG' }}
            </h6>
            <p class="px-3 pb-0 text-muted">
              {{
                selectedCulture === Culture.BG
                  ? 'Прием на монети и банкноти до 30.07.2025. Свържи се с нас за подробности.'
                  : 'Accepting coins and banknotes until 30.07.2025. Contact us for details.'
              }}
            </p>
            <button class="mb-2 btn btn-sm btn-warning text-secondary-emphasis">
              {{ selectedCulture === Culture.BG ? 'Виж повече' : 'See more' }}
            </button>
          </div>
        </div>
      }
    </div>
  </div>
</section>
