.navbar-nav .nav-link {
  color: var(--bs-white);
  transition: 150ms;

  &:hover {
    color: var(--bs-warning);
  }
}

.search-input {
  min-width: 50%;
}

.active {
  color: var(--bs-warning) !important;
}
