<nav class="navbar navbar-expand-lg " style="background-color: #264653;" data-bs-theme="dark">
  <div class="py-2 container-lg">
    <a class="navbar-brand"
       [routerLink]="appRoutes.home"
       (click)="isCollapsed = true">
      <h4 class="p-0 m-0 fw-bold text-warning">BarterHouse</h4>
    </a>
    <button class="navbar-toggler"
            type="button"
            (click)="collapse.toggle()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
      <form class="ms-auto me-lg-2 my-4 my-lg-0 d-flex search-input">
        <input
          type="search"
          data-bs-theme="light"
          [(ngModel)]="searchValue"
          [ngModelOptions]="{standalone: true}"
          (keyup.enter)="searchButton.click()"
          aria-label="Търсене"
          aria-describedby="search-button"
          class="form-control rounded-start-pill border-warning border-2"
          [placeholder]="selectedCulture === Culture.BG ? 'Търсене на продукти...' : 'Search for products...'">
        <a #searchButton
           id="search-button"
           aria-label="Търсене"
           class="btn btn-warning rounded-end-pill"
           [routerLink]="appRoutes.productList"
           [queryParams]="!!searchValue ? {searchValue: searchValue} : null">
          <i class="ms-3 me-3 fa-solid fa-magnifying-glass" style="color: #264653"></i>
        </a>
      </form>
      <ul class="navbar-nav">
        <div class="d-block d-lg-none">
          <ng-container [ngTemplateOutlet]="navItems"></ng-container>
          <hr class="text-muted"/>
        </div>
        <li class="nav-item">
          <a class="nav-link"
             routerLinkActive="active"
             (click)="isCollapsed = true"
             [routerLink]="[appRoutes.root, appRoutes.account, appRoutes.login]">
            {{ selectedCulture === Culture.BG ? 'Вход' : 'Login' }}
          </a>
        </li>
        <li class="nav-item dropdown">
          <button data-bs-toggle="dropdown"
                  class="nav-link dropdown-toggle">
            <i class="fa-solid fa-globe"></i>
            {{ selectedCulture === Culture.BG ? 'BG' : 'EN' }}
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <button class="dropdown-item"
                      (click)="onSelectCulture(Culture.BG)">
                BG
              </button>
            </li>
            <li>
              <button class="dropdown-item"
                      (click)="onSelectCulture(Culture.EN)">
                EN
              </button>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<section class="d-none d-lg-block border-top border-secondary shadow" style="background-color: #3C5863;">
  <div class="container-lg px-1">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <ul class="navbar-nav flex-row gap-2 align-items-center">
        <ng-container [ngTemplateOutlet]="navItems"></ng-container>
      </ul>
    </nav>
  </div>
</section>
<ng-template #navItems>
  <li class="nav-item">
    <a class="nav-link"
       routerLinkActive="active"
       (click)="isCollapsed = true"
       [routerLinkActiveOptions]="{ exact: true }"
       [routerLink]="[appRoutes.home]">
      <i class="me-1 fas fa-home"></i>
      {{ selectedCulture === Culture.BG ? 'Начало' : 'Home' }}
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       (click)="isCollapsed = true"
       [class.active]="isProductRoutesActive()"
       [routerLink]="[appRoutes.root, appRoutes.productList]">
      <i class="me-1 fa-solid fa-list-ul"></i>
      {{ selectedCulture === Culture.BG ? 'Продукти' : 'Products' }}
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       routerLinkActive="active"
       (click)="isCollapsed = true"
       [routerLink]="[appRoutes.root, appRoutes.contactUs]">
      <i class="me-1 fa-solid fa-envelope"></i>
      {{ selectedCulture === Culture.BG ? 'Контакти' : 'Contacts' }}
    </a>
  </li>
</ng-template>
