<div class="mb-5 container-lg">
  <a (click)="onBack()"
     class="my-4 btn btn-light d-inline-flex align-items-center">
    <i class="me-2 fa-solid fa-arrow-left"></i>
    <span>Назад</span>
  </a>
  @if (loading) {
    <div class="text-center py-5">
      <h1>
        <i class="text-dark fa-solid fa-spinner fa-spin"></i>
      </h1>
      <h5 class="text-muted">Зареждане...</h5>
    </div>
  } @else {
    <h4 class="fw-bold text-muted">
      {{ productDetails.productName }}
    </h4>
    <p class="text-muted mb-2">
      <strong>{{ selectedCulture === Culture.BG ? 'Категория:' : 'Category:' }}</strong>
      {{ productDetails.categoryName }}
    </p>
    <section class="my-4 shadow border bg-white rounded-3 overflow-hidden">
      <header class="p-3 text-primary-emphasis d-flex align-items-center bg-light border-bottom">
        <h6 class="m-0">
          {{ selectedCulture === Culture.BG ? 'Описание' : 'Description' }}
        </h6>
      </header>
      <main class="p-3">
        {{ productDetails.productDescription }}
      </main>
      <footer class="bg-light p-3 border-top text-end">
        <button class="p-0 btn btn-link text-decoration-none"
                (click)="getFile()">
          <i class="fa-solid fa-download"></i>
          MSDS
        </button>
      </footer>
    </section>

    <section class="my-4 shadow border bg-white rounded-3 overflow-hidden">
      <header class="p-3 text-primary-emphasis d-flex align-items-center bg-light border-bottom">
        <h6 class="m-0">
          {{ selectedCulture === Culture.BG ? 'Сходни продукти' : 'Similar products' }}
        </h6>
      </header>
      <ul class="m-0 list-unstyled">

        @for (similarProduct of productDetails.similarProducts; track similarProduct.productId) {
          <li class="table-hover-row">
            <div class="p-3 d-flex justify-content-between border-bottom">
              <a class="text-decoration-none"
                 [routerLink]="[appRoutes.root, appRoutes.productDetail, similarProduct.productId]">
                <span>{{ similarProduct.productName }}</span>
              </a>
              <button class="p-0 btn btn-link text-decoration-none"
                      (click)="getFile()">
                <i class="fa-solid fa-download"></i>
                MSDS
              </button>
            </div>
          </li>
        }
      </ul>
    </section>
  }


</div>
